.header-cart{
    padding: 1rem 0 .5rem 0;
    text-align: center;
    background-color: rgb(201, 105, 105);
    margin: 0;
    font-family: 'Aguafina Script', cursive;
    font-size: 3rem;
    color: darkslategrey;
    text-shadow: 2px 2px 5px white;
}

.empty-cart{
    text-align: center;
}

.action-button{
    width: 34px;
}

.cart-remark{
    text-align: right;
    padding-right: 1rem;
    font-style: italic;
}

.return-button{
    margin: 1rem;
    background-color: rgb(201, 105, 105);
    border: rgb(201, 105, 105);
}